<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"></meta>
<title>读取xls文件</title>
<script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.0.js"></script>
<script src="/js/read.js"></script>
</head>
<body>

	<h3>读取xls文件内容</h3>
	<form id="myform" method="post" action="./readExcel" enctype="multipart/form-data">
		文件:<input type="file" id="excelFile" name = "excelFile"/>
		
		<input type="submit"  value="确认提交"/>
	</form>
	
</body>
</html>