<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"></meta>
<title>查询结果分页</title>
<script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.0.js"></script>
<script src="/js/page.js"></script>
<script>



</script>
</head>
<body>
<p>
<button id="query">查询所有学生</button>
</p>

<table id="student">

</table>


<div class="page_normal">
    <input type="button" id="prev" value="上一页"/>
    <span>第</span><input type ="text" id="currentpage"  /><span>页</span>
    <span>共<span id="totalpage"></span>页</span>
    <input type="button" id="next" value="下一页"/>
    <input type="button" id="tail" value="尾页"/>
</div>
</body>
</html>