<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"></meta>
<title>读取xls文件</title>
<script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.0.js"></script>
<script src="./js/read.js"></script>
</head>
<body>

	<h3>读取xls文件内容</h3>
	<form id="myform" enctype="multipart/form-data">
		<input type="file" id="excelFile" name = "excelFile"/>
		
		<input type="button" id="up" value="确认提交"/>
	</form>
	<br/>
    <br/>
	<div id="filedata"></div>
	
	<br/>
	<br/>
	<form action="./partExport">
        <input type="submit" id="u" value="下载excel文件"/>
    </form>
</body>
</html>